<!DOCTYPE html>
<html>

<head>
  <title>Timings</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <style>
   
</style>
<script>

 

</script>
</head>

<body>
    <div class="position-relative p-4" style="background-color: #338dff;" >
        <h2 class="text-center text-white">____ Bank</h2>
        <div class="position-absolute top-0 end-0 p-3">
               
            </div>
      </div>
  <div class="rounded d-flex justify-content-center p-2">
    <h2> Savings Transactions</h2>
  </div>
  <div class="rounded d-flex justify-content-center p-2">
    <div class="m-2" style="width: 400px">
      <h5 class="text-center ">User Names transactions</h1>
    </div>
    
  </div>
  <div class="rounded d-flex justify-content-center">
    <div class="m-2" style="width: 800px">
        <table class="table table-striped table-hover">
          <thead>
            <div class="rounded d-flex justify-content-center">
                <a href="/money2otheraccounts"><button type="button" class="btn btn-primary" style="margin-right: 1rem;">Send Money</button></a>
                 <a href="/ATMinterface?accountType=2"> 
                  <button type="submit" class="btn btn-primary">Deposit or Withdraw</button>
                </a>    
              </div>
             
            <tr>
              <th scope="col">Sender/Receiver</th>
              <th scope="col">Amount</th>
               <th scope="col">Memo</th>
               <th scope="col">Time of Transaction</th>
               <th scope="col">Type of transaction</th>
             
            </tr>
          </thead>
          <tbody>
            <% transactions.forEach((transaction, index) => { %>
              <tr>
                  <td><%= transaction.username %></td>
                  <td><%= value[index] %></td>
                  <td><%= transaction.memo %></td>
                  <td><%= transaction.time %></td>
                  <td><%= transaction_type[index] %></td>
              </tr>
          <% }); %>
          </tbody>
        </table>
    </div>
   
  </div>

  <div class="rounded d-flex justify-content-center">
    <a href="/customer"><button type="button" class="btn btn-primary" >Return to Account</button></a>
   
  </div>
</body>

</html>